body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

header {
  font-family: inherit;
  display: flexbox;
  background-color: #bbdce5;
  padding: 20px;
  text-align: center;
}

.search-input {
  background-color: #fafaf8;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 10px 20px;
}

.search-button {
  background-color: #647fbc;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
}

main {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  padding: 0;
  margin: 0;
  grid-gap: 1rem;
}

.app-container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px 50px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #bbdce5;
  border-radius: 8px;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  background-color: #fafaf8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-content: center;
}

.city {
  padding: 20px;
  text-align: center;
}

.city h1 {
  color: #f08787;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
  color: #647ebc96;
}

.dogs {
  padding: 0x;
}

img {
  max-width: 100%;
}

.grid-details {
  padding-top: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 13px;
  font-size: 1rem;
  text-align: center;
}

.grid-details p {
  margin: 0;
  padding: 0;
}

.weather-description {
  background-color: #aed6cf5d;
  font-size: small;
  padding: 3px 10px;
  margin-bottom: 20px;
}
.icon {
  text-align: center;
}

footer {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  font-size: x-small;
}
